* {

    outline: 1px solid red;

    box-sizing: border-box;
}

.flexH {

    display: flex;
    flex-direction: row;

}

.flexV {

    display: flex;
    flex-direction: column;
}

.flex-h-center {

    justify-content: center;
}

.flex-h-center {

    align-items: center;
}

section.hero {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

.hero {

    font-size: 3rem;

}

section#poster {

    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {

    section#poster {

        display: grid;
        grid-template-columns: 1fr 4fr 1fr ;

}

    section > div {

    grid-column: 2;
    grid-row: 1;

    }

}