.ofelia-light  {

font-family: "ofelia-display", sans-serif;
font-weight: 300;
font-style: normal;
}

.ofelia-regular  {

font-family: "ofelia-display", sans-serif;
font-weight: 400;
font-style: normal;
}

.ofelia-medium  {

font-family: "ofelia-display", sans-serif;
font-weight: 500;
font-style: normal;
}

.ofelia-bold  {

font-family: "ofelia-display", sans-serif;
font-weight: 700;
font-style: normal;
}

.ofelia-extrabold  {

font-family: "ofelia-display", sans-serif;
font-weight: 800;
font-style: normal;
}

body {
    font-family: "ofelia-display", sans-serif;
font-weight: 700;
font-style: normal;

    background-color: rgb(205, 218, 255);
}

header {

    background-color: rgb(74, 74, 142);
    color: aliceblue;
    font-size: 39px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 26px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 26px;

}

main {

    text-align: center;
    padding: 26px;

font-size: 39px;

}

section > h1 {

     font-family: "ofelia-display", sans-serif;
font-weight: 800;
font-style: normal;

font-size: 39px;
text-align: center;
color: rgb(74, 74, 142)

}

section > p {

     font-family: "ofelia-display", sans-serif;
font-weight: 400;
font-style: normal;

font-size: 26px;

text-align: left;

padding-left: 26%;
padding-right: 26%;

}

main > h1 {
     font-family: "ofelia-display", sans-serif;
font-weight: 300;
font-style: normal;

font-size: 39px;

color: rgb(74, 74, 142);

padding-top: 52px;

}

main > a {

         font-family: "ofelia-display", sans-serif;
font-weight: 500;
font-style: normal;

    padding: 10px 20px;

    background-color: aliceblue;
    
}

footer {

    font-size: 26px;


    background-color: aliceblue;
    text-align: center;
    min-height: 250px;
    padding-top: 26px;

         font-family: "ofelia-display", sans-serif;
font-weight: 700;
font-style: normal;


}

