/*
* {

    outline: 1pt solid aqua;
}
*/

/* This section is for main page */

.clother-regular {

font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;
}

body {
    font-family: "clother", sans-serif;
font-weight: 400;
font-style: normal;

    background-color: antiquewhite;
}

header {

    background-color: rgb(211, 120, 0);
    font-size: 48pt;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 70px;


}

nav {

    background-color: rgb(87, 55, 22);
    text-align: center;
    padding: 20px;

}

a {
     color: antiquewhite;
     font-size: 36pt;
}

nav > a {

    padding: 10px 20px;

}

main {

    text-align: center;
    padding: 0px 10%;
}

img {

    width: 100%;
}

p {
    color: #361204;
    font-size: 24px;
}

h1 {

    color: #8a380c;
    font-weight: 200;
}

footer {

    background-color: #8a380c; /* Commenting here! */
    color: antiquewhite;
    min-height: 250px;
}

footer > p {

    color: antiquewhite;
    text-align: center;
    padding-top: 30px;
}

/* Hey guys please use the rest of this area for specific code /*