* {

    outline: 3px solid greenyellow;
}

body {

    margin: 0;

}

.maincontainer > div {

    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../Azores/church-100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    

}

p {

    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

img {

    width: 100%;
    align-self: center;

}