:root {

    font-size: clamp(18pt, 2vw, 24pt);
    font-family: sans-serif;
}

body {

    background-color: aquamarine;
}

h1 {

    text-align: center;
    color: navy
}

.sm {

    display: contents;
}

.med {

    display: none;
}

.lg {

    display: none;
}

.xl {

    display: none;
}

#card-container {

    background-color: blue;
    padding: 20px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;

}

#card-container div {

    padding: 20px;
    height: 20%;
    display: flex;
    border: 1px solid white;
    justify-content: center;
    align-items: center;


}

@media screen and (min-width: 768px) {


    .sm {

        display: none;
    }

    .med {

        display: contents;
    }

    body {    background-color: green;}

    h1 {

        font-family: 'Times New Roman', Times, serif;
    }

    p {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #card-container {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;


    }

    #card-container div {

        height: auto;
    }

}

@media screen and (min-width: 992px) {


    h1 { 

        text-align: left;
    }

    .med {
        
        display: none;
    }

    .lg {

        display: contents;
    }


}


@media screen and (min-width: 1200px) {

     .lg {

        display: none;
    }


     .xl {

        display: contents;
    }

}